* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-align: center;
  color: white;
}

body {
  display: grid;
}

.header {
  height: 10vh;
  background-color: green;
  width: full;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.imagotype {
  padding-right: 10px;
  height: 75%;
}

.isotype {
  display: none;
}

.menu {
  display: none;
  height: 50%;
}

.footer {
  height: 10vh;
  background-color: purple;
  width: full;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout {
  display: grid;
  height: 80vh;
  grid-template: repeat(10, 1fr) / repeat(12, 1fr);
  grid-gap: 10px;
  padding: 10px 10px 10px 10px;
}

.layout > div {
  border-radius: 10px 0 10px 0;
}

.sidebar {
  background-color: orange;
  grid-column: 1 / span 2;
  grid-row: 1 / span 11;
}

.nav {
  background-color: red;
  grid-column: 3 / span 10;
  grid-row: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article {
  background-color: gray;
  grid-column: 3 / span 10;
  grid-row: 3 / span 9;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article > p {
  text-align: justify;
  width: 95%;

}

.quote {
  font-weight: 300;
}

@media (max-width: 400px) {
  body {
   min-width: 200px; 
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .imagotype {
    display: none;
  }

  .isotype {
    display: block;
    height: 75%;
    padding-right: 5px;
  }

  .menu {
    display: block;
    height: 55%;
    padding-left: 10px;
  }

  .nav {
    background-color: red;
    grid-column: 1 / span 12;
    grid-row: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .article {
    background-color: gray;
    grid-column: 1 / span 12;
    grid-row: 3 / span 9;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    display: none;
  }
}